# Task 2
- 3 models (binary classification problem)

### 1) Logistic Regression


### 2) SVM

### 3) Random Forest

### Problem:
Mosquito_Female OR Mosquito_Male = function(weather_features^D)

NOTE: Please, perform 10-fold cross validation of each model and t-test in order to identify which
model is the best.

In [14]:
import pandas as pd
import numpy as np
import time
from sklearn import linear_model
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures

import warnings; warnings.simplefilter('ignore')

In [15]:
weather_data = pd.read_csv('./data/weather_data.csv')
mos_data = pd.read_csv('./data/mosquito_data_new.csv')

In [16]:
mos_data.head()

,Trap Date,Genus,Specific Epithet,Gender,IDd,Count,Trap Region,Include,Comparison Group,Latitude,Longitude,Location
0,09/15/2015 12:00:00 AM,Aedes,vexans,Female,NaN,3,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
1,05/12/1998 12:00:00 AM,Male,UnID,Male,UnID,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
2,08/28/2001 12:00:00 AM,Culex,tarsalis,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
3,08/17/2004 12:00:00 AM,Culex,territans,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
4,05/15/2018 12:00:00 AM,Culiseta,impatiens,Female,NaN,2,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)

In [17]:
weather_data.head()

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,wind_gust,relative_humidity,dew_point,temperature,windchill,humidex,visibility,health_index,cloud_cover_4,cloud_cover_8,cloud_cover_10,solar_radiation
0,2018-12-18 16:00:00 MST,1545174000,91.73,99.7,SW,23.0,5.0,NaN,64.0,-7.3,-1.3,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-12-18 15:00:00 MST,1545170400,91.67,99.7,S,18.0,5.0,NaN,65.0,-6.3,-0.5,-2.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2,2018-12-18 14:00:00 MST,1545166800,91.67,99.6,S,17.0,5.0,NaN,51.0,-6.5,2.7,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
3,2018-12-18 13:00:00 MST,1545163200,91.66,99.6,SE,13.0,2.0,NaN,50.0,-6.4,2.9,NaN,NaN,NaN,3.9,NaN,NaN,NaN,NaN
4,2018-12-18 12:00:00 MST,1545159600,91.75,99.7,NaN,NaN,0.0,NaN,59.0,-6.6,0.5,NaN,NaN,NaN,4.1,NaN,NaN,NaN,NaN

In [18]:
t_list = []
for i in mos_data['Trap Date']:
    i = str(i)
    t1 = time.strptime(i,"%m/%d/%Y %H:%M:%S AM")
    t2 = time.strftime("%Y-%m-%d", t1)
    t_list.append(t2)

mos_data['Trap Date'] = t_list
#mos_data=mos_data.sort_values(by='Trap Date')
mos_data

,Trap Date,Genus,Specific Epithet,Gender,IDd,Count,Trap Region,Include,Comparison Group,Latitude,Longitude,Location
0,2015-09-15,Aedes,vexans,Female,NaN,3,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
1,1998-05-12,Male,UnID,Male,UnID,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
2,2001-08-28,Culex,tarsalis,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
3,2004-08-17,Culex,territans,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
4,2018-05-15,Culiseta,impatiens,Female,NaN,2,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)
5,2016-09-13,Male,UnID,Male,UnID,10,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
6,2018-08-07,Aedes,vexans,Female,NaN,11,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
7,2005-08-16,Aedes,vexans,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
8,2012-05-15,Anopheles,earlei,Female,NaN,1,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
9,2016-09-20,Aedes,vexans,Female,NaN,42,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
10,2016-08-16,Male,UnID,Male,UnID,530,Outer Community-North,NaN,Outer,53.774476,-113.585715,POINT (-113.5857153 53.7744765)
11,2019-07-30,Aedes,dorsalis,Female,NaN,1,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
12,2014-09-16,Male,UnID,Male,UnID,19,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
13,2009-06-02,Culiseta,inornata,Female,NaN,3,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
14,2017-06-13,Aedes,dorsalis,Female,NaN,1,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
15,2016-07-12,Misc,UnID,Female,UnID,1,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
16,2015-06-16,Male,UnID,Male,UnID,13,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
17,2017-08-29,Aedes,vexans,Female,NaN,21,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
18,2017-06-20,Culiseta,inornata,Female,NaN,5,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
19,2016-09-27,Aedes,vexans,Female,NaN,4,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
20,2017-08-15,Culex,territans,Female,NaN,1,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
21,1997-06-24,Aedes,spp.,Female,UnID,2,Extended Rural-South West,NaN,Outer,53.424750,-113.860970,POINT (-113.86097 53.42475)
22,2015-06-23,Male,UnID,Male,UnID,11,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
23,2014-09-16,Aedes,vexans,Female,NaN,1,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
24,1990-09-18,Culex,territans,Female,NaN,11,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
25,2013-09-24,Aedes,dorsalis,Female,NaN,1,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
26,2012-08-21,Male,UnID,Male,UnID,57,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
27,2014-07-01,Aedes,vexans,Female,NaN,27,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
28,2013-06-25,Male,UnID,Male,UnID,160,Outer Community-North,NaN,Outer,53.774476,-113.585715,POINT (-113.5857153 53.7744765)
29,1992-06-23,Ochlerotatus,punctor,Female,NaN,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
...,...,...,...,...,...,...,...,...,...,...,...,...
27233,2011-07-05,Ochlerotatus,spencerii,Female,NaN,13,River Valley-East-P1,NaN,Core,53.581417,-113.374561,POINT (-113.3745611 53.58141700000001)
27234,2016-07-05,Ochlerotatus,fitchii,Female,NaN,2,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
27235,2010-07-27,Male,UnID,Male,UnID,8,Rural-South East,NaN,Peripheral,53.395831,-113.393540,POINT (-113.3935404 53.3958308)
27236,2017-07-11,Ochlerotatus,excrucians,Female,NaN,2,Rural-North East,NaN,Peripheral,53.657693,-113.332118,POINT (-113.3321178 53.6576928)
27237,2015-08-11,Misc,UnID,Female,UnID,1,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
27238,2008-08-05,Aedes,vexans,Female,NaN,7,River Valley-East-P1,NaN,Core,53.581417,-113.374561,POINT (-113.3745611 53.58141700000001)
27239,2012-06-12,Culiseta,inornata,Female,NaN,1,Residential-North,NaN,Core,53.579459,-113.499262,POINT (-113.4992624 53.5794591)
27240,1998-05-26,Culiseta,morsitans,Female,NaN,11,Rural-South East,NaN,Peripheral,53.395831,-113.393540,POINT (-113.3935404 53.3958308)
27241,2018-08-14,Culiseta,inornata,Female,NaN,5,Outer Community-North West,NaN,Outer,53.713765,-113.959036,POINT (-113.9590359 53.7137648)
27242,1994-06-21,Culiseta,alaskaensis,Female,NaN,4,Rural-North East,NaN,Peripheral,53.657693,-113.332118,POINT (-113.3321178 53.6576928)
27243,2014-07-08,Male,UnID,Male,UnID,3,Outer Community-North West,NaN,Outer,53.713765,-113.959036,POINT (-113.9590359 53.7137648)
27244,2009-08-11,Male,UnID,Male,UnID,1,Residential-South,No,Other,53.457490,-113.425390,POINT (-113.42539 53.45749)
27245,2015-06-02,Ochlerotatus,Black legs,Female,UnID,3,Rural-North East,NaN,Peripheral,53.657693,-113.332118,POINT (-113.3321178 53.6576928)
27246,1999-07-06,Culex,tarsalis,Female,NaN,1,Rural-South West,NaN,Peripheral,53.453900,-113.688650,POINT (-113.68865 53.4539)
27247,2018-07-10,Misc,UnID,Female,UnID,1,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)
27248,1992-07-21,Ochlerotatus,cinereus,Female,NaN,1,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
27249,1994-07-26,Ochlerotatus,excrucians,Female,NaN,4,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
27250,1993-08-03,Aedes,vexans,Female,NaN,85,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
27251,1999-07-13,Ochlerotatus,cinereus,Female,NaN,1,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
27252,1998-08-04,Aedes,vexans,Female,NaN,1780,River Valley-West-P1,NaN,Core,53.512118,-113.549655,POINT (-113.5496554 53.5121176)
27253,2003-06-24,Misc,UnID,Female,UnID,1,Rural-North West,NaN,Peripheral,53.617221,-113.716182,POINT (-113.716182 53.617221)
27254,2011-05-31,Culiseta,spp.,Female,UnID,1,Rural-South West,NaN,Peripheral,53.453900,-113.688650,POINT (-113.68865 53.4539)
27255,2001-05-29,Culiseta,alaskaensis,Female,NaN,1,Residential-North,NaN,Core,53.579459,-113.499262,POINT (-113.4992624 53.5794591)
27256,2014-07-01,Aedes,vexans,Female,NaN,23,Outer Community-North West,NaN,Outer,53.713765,-113.959036,POINT (-113.9590359 53.7137648)
27257,1996-07-16,Ochlerotatus,flavescens,Female,NaN,10,Rural-North East,NaN,Peripheral,53.657693,-113.332118,POINT (-113.3321178 53.6576928)
27258,1997-06-17,Aedes,spp.,Female,UnID,2,River Valley-GC1-East,NaN,Core,53.561514,-113.438112,POINT (-113.4381119 53.561514)
27259,2014-06-03,Male,UnID,Male,UnID,2,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
27260,1995-07-18,Mansonia,perturbans,Female,NaN,2,River Valley-GC2-East,NaN,Core,53.553358,-113.462632,POINT (-113.462632 53.553358)
27261,2016-08-02,Culex,territans,Female,NaN,2,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
27262,2014-08-05,Male,UnID,Male,UnID,42,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)

In [19]:
mos_data['Trap Date'] = pd.to_datetime(mos_data['Trap Date'])
start_remove = min(weather_data['date_time_local'])
end_remove = max(weather_data['date_time_local'])
mos_data_1 = mos_data.loc[(mos_data["Trap Date"] > start_remove) & (mos_data["Trap Date"] < end_remove) ]
mos_date_start = str(mos_data_1['Trap Date'].dt.date.min())
mos_date_end = str(mos_data_1['Trap Date'].dt.date.max())
mos_date_range = mos_date_start +' to ' + mos_date_end
print("Range of dates in mosquito dataset is {}".format(mos_date_range))


mos_range = (mos_data['Trap Date'] > mos_date_start) & (mos_data['Trap Date'] < mos_date_end)
mos_data = mos_data.loc[mos_range]
print(mos_data) #
mos_data = mos_data.sort_values(by='Trap Date')
mos_data #final mos_data

Range of dates in mosquito dataset is 2017-05-09 to 2018-09-25
       Trap Date         Genus Specific Epithet  Gender   IDd  Count  \
4     2018-05-15      Culiseta        impatiens  Female   NaN      2
6     2018-08-07         Aedes           vexans  Female   NaN     11
14    2017-06-13         Aedes         dorsalis  Female   NaN      1
17    2017-08-29         Aedes           vexans  Female   NaN     21
18    2017-06-20      Culiseta         inornata  Female   NaN      5
20    2017-08-15         Culex        territans  Female   NaN      1
30    2018-07-03         Aedes           vexans  Female   NaN     42
36    2017-06-27          Male             UnID    Male  UnID      8
38    2017-09-05         Aedes         dorsalis  Female   NaN      1
40    2018-09-18          Male             UnID    Male  UnID      6
46    2017-09-26          Male             UnID    Male  UnID      6
48    2017-05-23          Male             UnID    Male  UnID     15
62    2017-07-11         Aedes           vexans  Female   NaN     54
64    2017-08-22          Male             UnID    Male  UnID     19
71    2018-06-19  Ochlerotatus       flavescens  Female   NaN      6
72    2017-08-15     Anopheles           earlei  Female   NaN      2
74    2018-09-04         Aedes           vexans  Female   NaN      4
77    2017-06-20  Ochlerotatus           euedes  Female   NaN      1
91    2018-07-24         Aedes         dorsalis  Female   NaN      2
96    2017-09-05  Ochlerotatus       flavescens  Female   NaN      1
100   2017-08-22         Culex         tarsalis  Female   NaN      1
116   2017-06-13          Male             UnID    Male  UnID      8
126   2018-05-15      Culiseta      alaskaensis  Female   NaN      2
130   2018-07-17         Culex         tarsalis  Female   NaN      9
138   2017-06-20  Ochlerotatus          fitchii  Female   NaN      1
139   2017-09-05          Male             UnID    Male  UnID     16
140   2017-08-29         Culex        territans  Female   NaN      2
145   2018-08-21  Ochlerotatus       flavescens  Female   NaN      1
148   2017-08-15  Ochlerotatus      Banded legs  Female  UnID      1
160   2017-05-30          Male             UnID    Male  UnID     11
...          ...           ...              ...     ...   ...    ...
27050 2017-06-20         Aedes         dorsalis  Female   NaN      1
27053 2018-08-07         Aedes           vexans  Female   NaN     10
27058 2017-06-20  Ochlerotatus       flavescens  Female   NaN      5
27061 2017-08-01  Ochlerotatus           euedes  Female   NaN      1
27072 2018-08-28         Aedes           vexans  Female   NaN      1
27073 2018-08-07  Ochlerotatus       canadensis  Female   NaN      1
27083 2018-06-05  Ochlerotatus       Black legs  Female  UnID      4
27085 2018-08-14          Male             UnID    Male  UnID     59
27091 2018-08-07     Anopheles           earlei  Female   NaN      1
27098 2017-06-20         Culex        territans  Female   NaN      1
27106 2017-06-06  Ochlerotatus          fitchii  Female   NaN      7
27121 2018-07-31     Anopheles           earlei  Female   NaN     14
27128 2018-07-03  Ochlerotatus       campestris  Female   NaN      1
27140 2018-05-22      Culiseta         inornata  Female   NaN      1
27151 2017-09-05  Ochlerotatus       Black legs  Female  UnID      1
27176 2018-08-07          Male             UnID    Male  UnID     43
27180 2018-05-15  Ochlerotatus       Black legs  Female  UnID      2
27181 2018-07-31  Ochlerotatus          fitchii  Female   NaN      1
27186 2017-07-04  Ochlerotatus           euedes  Female   NaN      1
27191 2017-07-25     Anopheles           earlei  Female   NaN      5
27209 2018-08-07      Culiseta         inornata  Female   NaN     11
27211 2018-09-11         Culex        territans  Female   NaN      2
27213 2017-09-05      Culiseta         inornata  Female   NaN      1
27222 2017-07-11      Culiseta         inornata  Female   NaN      2
27223 2017-07-18          Male             UnID    Male  UnID     15
27225 2017-06-27  Ochlerotatus           euedes  Female   NaN      2
27229 2017-09-19      Culiseta         inornata  Female   NaN     12
27236 2017-07-11  Ochlerotatus       excrucians  Female   NaN      2
27241 2018-08-14      Culiseta         inornata  Female   NaN      5
27247 2018-07-10          Misc             UnID  Female  UnID      1

                      Trap Region Include Comparison Group   Latitude  \
4                      Rural-West     NaN            Outer  53.559020
6                      Rural-East     NaN            Outer  53.606722
14                     Rural-West     NaN            Outer  53.562973
17                     Rural-East     NaN            Outer  53.606722
18                     Rural-West     NaN            Outer  53.562973
20               Rural-South West     NaN       Peripheral  53.528587
30                     Rural-East     NaN            Outer  53.606722
36          Outer Community-North     NaN            Outer  53.774476
38                     Rural-West     NaN            Outer  53.562973
40                     Rural-West     NaN            Outer  53.559020
46                     Rural-East     NaN            Outer  53.606722
48                     Rural-East     NaN            Outer  53.606722
62                     Rural-East     NaN            Outer  53.606722
64                     Rural-East     NaN            Outer  53.606722
71         Outer Community-South1     NaN            Outer  53.333327
72               Rural-North East     NaN       Peripheral  53.657693
74         Outer Community-South1     NaN            Outer  53.333327
77              Residential-North     NaN             Core  53.579459
91     Outer Community-North East     NaN            Outer  53.774470
96     Outer Community-South East     NaN            Outer  53.337877
100    Outer Community-North East     NaN            Outer  53.774470
116             Residential-South      No            Other  53.457490
126              Rural-South West     NaN       Peripheral  53.528587
130              Rural-North West     NaN       Peripheral  53.619232
138              Rural-North West     NaN       Peripheral  53.619232
139                    Rural-West     NaN            Outer  53.562973
140          Residential GC-South     NaN             Core  53.482057
145              Rural-South East     NaN       Peripheral  53.395831
148    Outer Community-North West     NaN            Outer  53.713765
160             River Valley-West     NaN             Core  53.504068
...                           ...     ...              ...        ...
27050           Residential-South      No            Other  53.457490
27053  Outer Community-North West     NaN            Outer  53.713765
27058            Rural-North West     NaN       Peripheral  53.619232
27061      Outer Community-South1     NaN            Outer  53.333327
27072           Residential-North     NaN             Core  53.579459
27073           Residential-North     NaN             Core  53.579459
27083            Rural-North East     NaN       Peripheral  53.657693
27085            Rural-North East     NaN       Peripheral  53.657693
27091      Outer Community-South1     NaN            Outer  53.333327
27098      Outer Community-South1     NaN            Outer  53.333327
27106  Outer Community-North East     NaN            Outer  53.774470
27121       Outer Community-North     NaN            Outer  53.774476
27128       Outer Community-North     NaN            Outer  53.774476
27140            Rural-South East     NaN       Peripheral  53.395831
27151  Outer Community-South West     NaN            Outer  53.408270
27176  Outer Community-North West     NaN            Outer  53.713765
27180        River Valley-East-P1     NaN             Core  53.581417
27181        River Valley-East-P1     NaN             Core  53.581417
27186            Rural-South East     NaN       Peripheral  53.395831
27191            Rural-North West     NaN       Peripheral  53.619232
27209      Outer Community-South1     NaN            Outer  53.333327
27211  Outer Community-South East     NaN            Outer  53.337877
27213  Outer Community-North West     NaN            Outer  53.713765
27222            Rural-South West     NaN       Peripheral  53.528587
27223            Rural-South West     NaN       Peripheral  53.528587
27225        Residential GC-South     NaN             Core  53.482057
27229      Outer Community-South1     NaN            Outer  53.333327
27236            Rural-North East     NaN       Peripheral  53.657693
27241  Outer Community-North West     NaN            Outer  53.713765
27247                  Rural-West     NaN            Outer  53.559020

        Longitude                                Location
4     -114.001190   POINT (-114.00119 53.559020000000004)
6     -113.221359  POINT (-113.22135870000001 53.6067218)
14    -113.787353          POINT (-113.787353 53.5629733)
17    -113.221359  POINT (-113.22135870000001 53.6067218)
18    -113.787353          POINT (-113.787353 53.5629733)
20    -113.738070         POINT (-113.7380701 53.5285872)
30    -113.221359  POINT (-113.22135870000001 53.6067218)
36    -113.585715         POINT (-113.5857153 53.7744765)
38    -113.787353          POINT (-113.787353 53.5629733)
40    -114.001190   POINT (-114.00119 53.559020000000004)
46    -113.221359  POINT (-113.22135870000001 53.6067218)
48    -113.221359  POINT (-113.22135870000001 53.6067218)
62    -113.221359  POINT (-113.22135870000001 53.6067218)
64    -113.221359  POINT (-113.22135870000001 53.6067218)
71    -113.531374         POINT (-113.5313737 53.3333269)
72    -113.332118         POINT (-113.3321178 53.6576928)
74    -113.531374         POINT (-113.5313737 53.3333269)
77    -113.499262         POINT (-113.4992624 53.5794591)
91    -113.372088         POINT (-113.3720881 53.7744701)
96    -113.342493         POINT (-113.3424925 53.3378771)
100   -113.372088         POINT (-113.3720881 53.7744701)
116   -113.425390             POINT (-113.42539 53.45749)
126   -113.738070         POINT (-113.7380701 53.5285872)
130   -113.712798         POINT (-113.7127984 53.6192317)
138   -113.712798         POINT (-113.7127984 53.6192317)
139   -113.787353          POINT (-113.787353 53.5629733)
140   -113.418346         POINT (-113.4183455 53.4820573)
145   -113.393540         POINT (-113.3935404 53.3958308)
148   -113.959036         POINT (-113.9590359 53.7137648)
160   -113.570126         POINT (-113.5701263 53.5040684)
...           ...                                     ...
27050 -113.425390             POINT (-113.42539 53.45749)
27053 -113.959036         POINT (-113.9590359 53.7137648)
27058 -113.712798         POINT (-113.7127984 53.6192317)
27061 -113.531374         POINT (-113.5313737 53.3333269)
27072 -113.499262         POINT (-113.4992624 53.5794591)
27073 -113.499262         POINT (-113.4992624 53.5794591)
27083 -113.332118         POINT (-113.3321178 53.6576928)
27085 -113.332118         POINT (-113.3321178 53.6576928)
27091 -113.531374         POINT (-113.5313737 53.3333269)
27098 -113.531374         POINT (-113.5313737 53.3333269)
27106 -113.372088         POINT (-113.3720881 53.7744701)
27121 -113.585715         POINT (-113.5857153 53.7744765)
27128 -113.585715         POINT (-113.5857153 53.7744765)
27140 -113.393540         POINT (-113.3935404 53.3958308)
27151 -113.761360             POINT (-113.76136 53.40827)
27176 -113.959036         POINT (-113.9590359 53.7137648)
27180 -113.374561  POINT (-113.3745611 53.58141700000001)
27181 -113.374561  POINT (-113.3745611 53.58141700000001)
27186 -113.393540         POINT (-113.3935404 53.3958308)
27191 -113.712798         POINT (-113.7127984 53.6192317)
27209 -113.531374         POINT (-113.5313737 53.3333269)
27211 -113.342493         POINT (-113.3424925 53.3378771)
27213 -113.959036         POINT (-113.9590359 53.7137648)
27222 -113.738070         POINT (-113.7380701 53.5285872)
27223 -113.738070         POINT (-113.7380701 53.5285872)
27225 -113.418346         POINT (-113.4183455 53.4820573)
27229 -113.531374         POINT (-113.5313737 53.3333269)
27236 -113.332118         POINT (-113.3321178 53.6576928)
27241 -113.959036         POINT (-113.9590359 53.7137648)
27247 -114.001190   POINT (-114.00119 53.559020000000004)

[3748 rows x 12 columns]

,Trap Date,Genus,Specific Epithet,Gender,IDd,Count,Trap Region,Include,Comparison Group,Latitude,Longitude,Location
19195,2017-05-16,Ochlerotatus,Black legs,Female,UnID,13,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
6338,2017-05-16,Ochlerotatus,Black legs,Female,UnID,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
888,2017-05-16,Culiseta,alaskaensis,Female,NaN,1,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
26275,2017-05-16,Male,UnID,Male,UnID,1,River Valley-East-P1,NaN,Core,53.581417,-113.374561,POINT (-113.3745611 53.58141700000001)
18595,2017-05-16,Culiseta,inornata,Female,NaN,1,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
9193,2017-05-16,Culiseta,inornata,Female,NaN,2,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
14002,2017-05-16,Culiseta,inornata,Female,NaN,1,Rural-South East,NaN,Peripheral,53.395831,-113.393540,POINT (-113.3935404 53.3958308)
7609,2017-05-16,Male,UnID,Male,UnID,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
22638,2017-05-16,Culiseta,inornata,Female,NaN,1,Rural-West,NaN,Outer,53.562973,-113.787353,POINT (-113.787353 53.5629733)
27049,2017-05-16,Male,UnID,Male,UnID,4,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
24574,2017-05-16,Ochlerotatus,Black legs,Female,UnID,1,Outer Community-North West,NaN,Outer,53.713765,-113.959036,POINT (-113.9590359 53.7137648)
1285,2017-05-16,Culiseta,inornata,Female,NaN,1,Outer Community-North,NaN,Outer,53.774476,-113.585715,POINT (-113.5857153 53.7744765)
2089,2017-05-16,Culiseta,inornata,Female,NaN,1,Outer Community-South West,NaN,Outer,53.408270,-113.761360,POINT (-113.76136 53.40827)
11501,2017-05-23,Culiseta,inornata,Female,NaN,1,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
13910,2017-05-23,Male,UnID,Male,UnID,1,Rural-South East,NaN,Peripheral,53.395831,-113.393540,POINT (-113.3935404 53.3958308)
15395,2017-05-23,Culiseta,inornata,Female,NaN,1,Outer Community-South West,NaN,Outer,53.408270,-113.761360,POINT (-113.76136 53.40827)
16065,2017-05-23,Ochlerotatus,Black legs,Female,UnID,10,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
21320,2017-05-23,Aedes,spp.,Female,UnID,1,Rural-South East,NaN,Peripheral,53.395831,-113.393540,POINT (-113.3935404 53.3958308)
10199,2017-05-23,Male,UnID,Male,UnID,15,Outer Community-South West,NaN,Outer,53.408270,-113.761360,POINT (-113.76136 53.40827)
21290,2017-05-23,Ochlerotatus,Black legs,Female,UnID,7,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
26216,2017-05-23,Culiseta,alaskaensis,Female,NaN,1,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
12638,2017-05-23,Aedes,vexans,Female,NaN,1,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
4752,2017-05-23,Male,UnID,Male,UnID,6,River Valley-East-P1,NaN,Core,53.581417,-113.374561,POINT (-113.3745611 53.58141700000001)
4740,2017-05-23,Culiseta,alaskaensis,Female,NaN,2,Outer Community-South West,NaN,Outer,53.408270,-113.761360,POINT (-113.76136 53.40827)
25500,2017-05-23,Misc,UnID,Female,UnID,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
10518,2017-05-23,Ochlerotatus,Black legs,Female,UnID,1,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
6293,2017-05-23,Culiseta,inornata,Female,NaN,2,Outer Community-North,NaN,Outer,53.774476,-113.585715,POINT (-113.5857153 53.7744765)
22256,2017-05-23,Ochlerotatus,Black legs,Female,UnID,7,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
24654,2017-05-23,Male,UnID,Male,UnID,10,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
12978,2017-05-23,Male,UnID,Male,UnID,18,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
...,...,...,...,...,...,...,...,...,...,...,...,...
17312,2018-09-11,Culiseta,inornata,Female,NaN,1,River Valley-East-P1,NaN,Core,53.581417,-113.374561,POINT (-113.3745611 53.58141700000001)
11980,2018-09-11,Culex,spp.,Female,UnID,1,Residential-North,NaN,Core,53.579459,-113.499262,POINT (-113.4992624 53.5794591)
12306,2018-09-11,Culiseta,inornata,Female,NaN,12,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
25546,2018-09-11,Culex,territans,Female,NaN,2,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
10253,2018-09-11,Male,UnID,Male,UnID,53,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
19443,2018-09-11,Culiseta,incidens,Female,NaN,3,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
25288,2018-09-11,Culex,tarsalis,Female,NaN,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
16932,2018-09-11,Culex,territans,Female,NaN,21,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
10287,2018-09-11,Male,UnID,Male,UnID,16,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)
23508,2018-09-11,Aedes,vexans,Female,NaN,1,Rural-North East,NaN,Peripheral,53.657693,-113.332118,POINT (-113.3321178 53.6576928)
4045,2018-09-11,Anopheles,earlei,Female,NaN,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
1728,2018-09-11,Culiseta,inornata,Female,NaN,2,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
9867,2018-09-11,Anopheles,earlei,Female,NaN,1,Rural-South East,NaN,Peripheral,53.395831,-113.393540,POINT (-113.3935404 53.3958308)
13115,2018-09-11,Culiseta,minnesotae,Female,NaN,2,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
26169,2018-09-18,Culiseta,minnesotae,Female,NaN,1,Outer Community-South East,NaN,Outer,53.337877,-113.342493,POINT (-113.3424925 53.3378771)
16756,2018-09-18,Male,UnID,Male,UnID,1,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
19655,2018-09-18,Culiseta,incidens,Female,NaN,1,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)
18037,2018-09-18,Male,UnID,Male,UnID,5,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
40,2018-09-18,Male,UnID,Male,UnID,6,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)
25005,2018-09-18,Male,UnID,Male,UnID,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
4965,2018-09-18,Male,UnID,Male,UnID,1,Rural-East,NaN,Outer,53.606722,-113.221359,POINT (-113.22135870000001 53.6067218)
20059,2018-09-18,Male,UnID,Male,UnID,2,Residential-North,NaN,Core,53.579459,-113.499262,POINT (-113.4992624 53.5794591)
890,2018-09-18,Culiseta,inornata,Female,NaN,5,Rural-West,NaN,Outer,53.559020,-114.001190,POINT (-114.00119 53.559020000000004)
26752,2018-09-18,Culiseta,inornata,Female,NaN,1,Outer Community-South1,NaN,Outer,53.333327,-113.531374,POINT (-113.5313737 53.3333269)
691,2018-09-18,Male,UnID,Male,UnID,3,Outer Community-North East,NaN,Outer,53.774470,-113.372088,POINT (-113.3720881 53.7744701)
449,2018-09-18,Culiseta,inornata,Female,NaN,1,Rural-North West,NaN,Peripheral,53.619232,-113.712798,POINT (-113.7127984 53.6192317)
1584,2018-09-18,Culiseta,incidens,Female,NaN,1,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
3493,2018-09-18,Male,UnID,Male,UnID,1,River Valley-West,NaN,Core,53.504068,-113.570126,POINT (-113.5701263 53.5040684)
24513,2018-09-18,Culiseta,inornata,Female,NaN,2,Residential GC-South,NaN,Core,53.482057,-113.418346,POINT (-113.4183455 53.4820573)
25330,2018-09-18,Culiseta,inornata,Female,NaN,1,Rural-South West,NaN,Peripheral,53.528587,-113.738070,POINT (-113.7380701 53.5285872)

In [20]:
#sum count
#mos_data.groupby(mos_data['Trap Date'].dt.date).sum()
mos_count = mos_data.groupby(["Trap Date", "Gender"], as_index=False).agg({
    "Count":"sum",
})
mos_count[mos_count['Count'] == mos_count['Count'].max()]

mos_count ####number of mos

    Trap Date  Gender  Count
0  2017-05-16  Female     23
1  2017-05-16    Male      6
2  2017-05-23  Female    198
3  2017-05-23    Male    325
4  2017-05-30  Female    150
5  2017-05-30    Male    213
6  2017-06-06  Female    526
7  2017-06-06    Male   1130
8  2017-06-13  Female   1261
9  2017-06-13    Male   1708
10 2017-06-20  Female    895
11 2017-06-20    Male    977
12 2017-06-27  Female    332
13 2017-06-27    Male    437
14 2017-07-04  Female   1074
15 2017-07-04    Male    705
16 2017-07-11  Female   1833
17 2017-07-11    Male    420
18 2017-07-18  Female   1319
19 2017-07-18    Male    323
20 2017-07-25  Female    692
21 2017-07-25    Male    289
22 2017-08-01  Female    553
23 2017-08-01    Male    174
24 2017-08-08  Female    507
25 2017-08-08    Male    204
26 2017-08-15  Female   1233
27 2017-08-15    Male    879
28 2017-08-22  Female   2156
29 2017-08-22    Male   1792
..        ...     ...    ...
48 2018-06-12  Female   3301
49 2018-06-12    Male   6637
50 2018-06-19  Female   1373
51 2018-06-19    Male   1950
52 2018-06-26  Female   1844
53 2018-06-26    Male   1671
54 2018-07-03  Female    951
55 2018-07-03    Male    903
56 2018-07-10  Female   4490
57 2018-07-10    Male    959
58 2018-07-17  Female   1541
59 2018-07-17    Male    533
60 2018-07-24  Female   1480
61 2018-07-24    Male    427
62 2018-07-31  Female   1312
63 2018-07-31    Male    883
64 2018-08-07  Female   1004
65 2018-08-07    Male   1205
66 2018-08-14  Female   1036
67 2018-08-14    Male   1143
68 2018-08-21  Female    472
69 2018-08-21    Male    662
70 2018-08-28  Female    232
71 2018-08-28    Male    406
72 2018-09-04  Female    113
73 2018-09-04    Male    232
74 2018-09-11  Female    153
75 2018-09-11    Male    365
76 2018-09-18  Female     13
77 2018-09-18    Male     20

[78 rows x 3 columns]

In [21]:
start_date1 = '2017-05-10'#one week before 2017-05-16
end_date1 = '2017-09-26'
start_date2 = '2018-05-09'#one week before 2017-05-15
end_date2 = '2018-09-18'
#########needs improvement########

In [22]:
##############Drop MST and columns with too many NaNs###################
weather_data.drop(columns=["visibility", "cloud_cover_4", "cloud_cover_8", "cloud_cover_10", "solar_radiation", "wind_gust", "windchill", "humidex"], inplace=True)
weather_data = weather_data.loc[weather_data['date_time_local'].str.contains('MDT')]

weather_data

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,relative_humidity,dew_point,temperature,health_index
1072,2018-11-04 01:00:00 MDT,1541314800,92.14,100.1,S,19.0,7.0,91.0,0.2,1.5,2.1
1073,2018-11-04 00:00:00 MDT,1541311200,92.27,100.2,S,19.0,12.0,87.0,0.4,2.4,2.2
1074,2018-11-03 23:00:00 MDT,1541307600,92.42,100.4,WSW,24.0,4.0,86.0,0.3,2.5,2.4
1075,2018-11-03 22:00:00 MDT,1541304000,92.49,100.5,SE,14.0,12.0,83.0,0.1,2.8,2.6
1076,2018-11-03 21:00:00 MDT,1541300400,92.68,100.7,S,17.0,6.0,82.0,0.0,2.9,2.6
1077,2018-11-03 20:00:00 MDT,1541296800,92.77,100.8,E,9.0,3.0,86.0,0.1,2.2,2.6
1078,2018-11-03 19:00:00 MDT,1541293200,92.85,100.9,E,9.0,5.0,83.0,0.1,2.6,2.5
1079,2018-11-03 18:00:00 MDT,1541289600,92.97,101.0,SE,14.0,10.0,81.0,0.6,3.6,2.4
1080,2018-11-03 17:00:00 MDT,1541286000,93.06,101.1,SSW,21.0,9.0,79.0,0.6,4.0,2.3
1081,2018-11-03 16:00:00 MDT,1541282400,93.05,101.1,SSW,21.0,9.0,73.0,0.9,5.3,2.1
1082,2018-11-03 15:00:00 MDT,1541278800,93.08,101.1,SE,14.0,6.0,69.0,1.4,6.7,1.9
1083,2018-11-03 14:00:00 MDT,1541275200,93.22,101.3,SSW,20.0,3.0,72.0,0.7,5.3,1.8
1084,2018-11-03 13:00:00 MDT,1541271600,93.32,101.4,SW,22.0,5.0,79.0,0.0,3.3,1.7
1085,2018-11-03 12:00:00 MDT,1541268000,93.39,101.5,WSW,24.0,7.0,81.0,-0.6,2.3,1.7
1086,2018-11-03 11:00:00 MDT,1541264400,93.39,101.5,SW,22.0,6.0,87.0,-1.8,0.0,1.7
1087,2018-11-03 10:00:00 MDT,1541260800,93.38,101.5,SW,21.0,6.0,89.0,-2.9,-1.3,1.6
1088,2018-11-03 09:00:00 MDT,1541257200,93.40,101.5,SW,21.0,7.0,91.0,-3.2,-1.9,1.6
1089,2018-11-03 08:00:00 MDT,1541253600,93.40,101.5,S,18.0,8.0,93.0,-3.1,-2.2,1.6
1090,2018-11-03 07:00:00 MDT,1541250000,93.44,101.6,S,19.0,8.0,91.0,-3.3,-2.1,1.6
1091,2018-11-03 06:00:00 MDT,1541246400,93.45,101.6,SSW,19.0,11.0,92.0,-3.3,-2.2,1.6
1092,2018-11-03 05:00:00 MDT,1541242800,93.52,101.6,S,17.0,10.0,94.0,-3.0,-2.1,1.6
1093,2018-11-03 04:00:00 MDT,1541239200,93.53,101.7,S,18.0,10.0,95.0,-4.2,-3.5,1.6
1094,2018-11-03 03:00:00 MDT,1541235600,93.56,101.7,S,18.0,8.0,94.0,-4.5,-3.7,1.5
1095,2018-11-03 02:00:00 MDT,1541232000,93.56,101.7,S,18.0,12.0,92.0,-3.6,-2.5,1.5
1096,2018-11-03 01:00:00 MDT,1541228400,93.57,101.7,S,18.0,12.0,91.0,-2.3,-1.0,1.5
1097,2018-11-03 00:00:00 MDT,1541224800,93.60,101.7,SSW,20.0,10.0,91.0,-2.3,-1.0,1.5
1098,2018-11-02 23:00:00 MDT,1541221200,93.56,101.7,S,18.0,12.0,90.0,-2.3,-0.9,1.5
1099,2018-11-02 22:00:00 MDT,1541217600,93.55,101.7,SSW,19.0,11.0,90.0,-2.2,-0.8,1.6
1100,2018-11-02 21:00:00 MDT,1541214000,93.53,101.7,S,19.0,8.0,90.0,-2.0,-0.6,1.6
1101,2018-11-02 20:00:00 MDT,1541210400,93.50,101.6,S,19.0,7.0,93.0,-1.7,-0.7,1.6
...,...,...,...,...,...,...,...,...,...,...,...
15489,2017-03-13 08:00:00 MDT,1489413600,93.75,102.1,SSE,16.0,17.0,79.0,-17.3,-14.5,3.1
15490,2017-03-13 07:00:00 MDT,1489410000,93.79,102.2,SSE,15.0,19.0,79.0,-17.2,-14.4,3.0
15491,2017-03-13 06:00:00 MDT,1489406400,93.87,102.2,SE,15.0,17.0,79.0,-16.7,-13.9,2.9
15492,2017-03-13 05:00:00 MDT,1489402800,93.95,102.3,SSE,15.0,17.0,79.0,-16.3,-13.4,2.8
15493,2017-03-13 04:00:00 MDT,1489399200,93.98,102.3,SSE,15.0,17.0,78.0,-16.1,-13.1,2.8
15494,2017-03-13 03:00:00 MDT,1489395600,94.00,102.4,SSE,15.0,22.0,78.0,-16.2,-13.2,2.8
15495,2017-03-13 02:00:00 MDT,1489392000,94.09,102.5,SSE,15.0,21.0,78.0,-16.5,-13.4,2.9
15496,2017-03-13 01:00:00 MDT,1489388400,94.23,102.6,SSE,16.0,19.0,76.0,-16.4,-13.1,2.9
15497,2017-03-13 00:00:00 MDT,1489384800,94.30,102.7,SSE,15.0,23.0,75.0,-16.5,-13.0,2.8
15498,2017-03-12 23:00:00 MDT,1489381200,94.46,102.9,SSE,16.0,22.0,74.0,-16.5,-12.9,2.9
15499,2017-03-12 22:00:00 MDT,1489377600,94.55,103.0,SSE,16.0,22.0,75.0,-16.7,-13.2,2.8
15500,2017-03-12 21:00:00 MDT,1489374000,94.62,103.1,SSE,15.0,21.0,75.0,-16.9,-13.5,2.8
15501,2017-03-12 20:00:00 MDT,1489370400,94.72,103.2,SSE,15.0,19.0,75.0,-17.0,-13.4,2.6
15502,2017-03-12 19:00:00 MDT,1489366800,94.77,103.2,SE,15.0,20.0,74.0,-17.0,-13.3,2.6
15503,2017-03-12 18:00:00 MDT,1489363200,94.83,103.3,SSE,16.0,22.0,72.0,-16.7,-12.8,2.5
15504,2017-03-12 17:00:00 MDT,1489359600,94.87,103.3,SSE,16.0,21.0,65.0,-17.4,-12.1,2.5
15505,2017-03-12 16:00:00 MDT,1489356000,94.87,103.3,SSE,16.0,17.0,63.0,-17.6,-12.1,2.5
15506,2017-03-12 15:00:00 MDT,1489352400,94.91,103.4,SSE,16.0,16.0,63.0,-18.0,-12.5,2.4
15507,2017-03-12 14:00:00 MDT,1489348800,94.89,103.4,SSE,15.0,18.0,62.0,-18.4,-12.7,2.4
15508,2017-03-12 13:00:00 MDT,1489345200,94.93,103.4,SSE,17.0,17.0,63.0,-18.3,-12.8,NaN
15509,2017-03-12 12:00:00 MDT,1489341600,94.89,103.4,SSE,15.0,11.0,66.0,-18.5,-13.6,NaN
15510,2017-03-12 11:00:00 MDT,1489338000,94.84,103.3,SE,13.0,13.0,73.0,-18.1,-14.4,NaN
15511,2017-03-12 10:00:00 MDT,1489334400,94.86,103.4,SE,13.0,10.0,80.0,-18.1,-15.4,NaN
15512,2017-03-12 09:00:00 MDT,1489330800,94.80,103.3,SE,12.0,10.0,82.0,-18.1,-15.8,NaN
15513,2017-03-12 08:00:00 MDT,1489327200,94.76,103.3,ESE,11.0,9.0,85.0,-18.1,-16.2,NaN
15514,2017-03-12 07:00:00 MDT,1489323600,94.71,103.2,E,9.0,9.0,85.0,-18.2,-16.3,NaN
15515,2017-03-12 06:00:00 MDT,1489320000,94.68,103.2,E,8.0,10.0,86.0,-18.3,-16.5,NaN
15516,2017-03-12 05:00:00 MDT,1489316400,94.61,103.1,ENE,8.0,9.0,86.0,-18.3,-16.4,NaN
15517,2017-03-12 04:00:00 MDT,1489312800,94.57,103.0,E,9.0,11.0,86.0,-18.3,-16.5,NaN
15518,2017-03-12 03:00:00 MDT,1489309200,94.55,103.0,ENE,7.0,10.0,87.0,-18.2,-16.5,2.6

In [23]:
t_list = []
for i in weather_data['date_time_local']:
    i = str(i)
    t1 = time.strptime(i,"%Y-%m-%d %H:%M:%S MDT")
    t2 = time.strftime("%Y-%m-%d", t1)
    t_list.append(t2)

weather_data['date_time_local'] = t_list
#print(weather_data)

weather_data['date_time_local'] = pd.to_datetime(weather_data['date_time_local'])
weather_range1 = (weather_data['date_time_local'] >= start_date1) & (weather_data['date_time_local'] <= end_date1)
weather_data1 = weather_data.loc[weather_range1]
weather_data1 = weather_data1.sort_values(by='date_time_local')
#print(weather_data1) 

weather_range2 = (weather_data['date_time_local'] >= start_date2) & (weather_data['date_time_local'] <= end_date2)
weather_data2 = weather_data.loc[weather_range2]
weather_data2 = weather_data2.sort_values(by='date_time_local')
#print(weather_data2) 
weather_data = weather_data1.append(weather_data2)
weather_data

,date_time_local,unixtime,pressure_station,pressure_sea,wind_dir,wind_dir_10s,wind_speed,relative_humidity,dew_point,temperature,health_index
14105,2017-05-10,1494396000,93.58,101.5,ESE,11.0,5.0,53.0,2.2,11.6,3.6
14082,2017-05-10,1494478800,93.54,101.4,ENE,7.0,6.0,58.0,4.4,12.6,3.3
14083,2017-05-10,1494475200,93.50,101.4,ENE,6.0,8.0,56.0,4.9,13.7,3.3
14084,2017-05-10,1494471600,93.47,101.3,NE,5.0,10.0,53.0,5.8,15.4,3.3
14085,2017-05-10,1494468000,93.43,101.3,ENE,6.0,11.0,46.0,5.4,17.2,3.2
14086,2017-05-10,1494464400,93.42,101.3,NE,6.0,16.0,43.0,5.6,18.3,3.3
14087,2017-05-10,1494460800,93.41,101.3,NNE,3.0,18.0,56.0,7.0,15.7,3.3
14088,2017-05-10,1494457200,93.48,101.4,SW,26.0,20.0,54.0,6.3,15.6,3.5
14089,2017-05-10,1494453600,93.36,101.2,NE,6.0,17.0,35.0,3.3,18.9,3.5
14090,2017-05-10,1494450000,93.35,101.2,ESE,9.0,13.0,30.0,1.4,19.7,3.7
14091,2017-05-10,1494446400,93.37,101.2,E,12.0,15.0,26.0,1.0,21.4,3.8
14092,2017-05-10,1494442800,93.38,101.2,ENE,7.0,17.0,30.0,1.7,19.6,3.8
14104,2017-05-10,1494399600,93.58,101.4,ENE,36.0,1.0,52.0,2.5,11.9,3.7
14094,2017-05-10,1494435600,93.44,101.3,ENE,7.0,15.0,40.0,3.0,16.6,3.7
14103,2017-05-10,1494403200,93.54,101.4,ESE,11.0,6.0,54.0,3.0,11.9,3.6
14102,2017-05-10,1494406800,93.53,101.4,NNE,1.0,6.0,57.0,3.4,11.6,3.4
14101,2017-05-10,1494410400,93.51,101.4,E,10.0,6.0,52.0,2.8,12.3,3.3
14100,2017-05-10,1494414000,93.50,101.4,E,8.0,7.0,53.0,2.2,11.4,3.2
14093,2017-05-10,1494439200,93.41,101.2,ESE,10.0,14.0,30.0,2.0,19.9,3.7
14098,2017-05-10,1494421200,93.47,101.3,ENE,7.0,10.0,59.0,3.4,11.2,3.2
14097,2017-05-10,1494424800,93.45,101.3,ESE,10.0,8.0,50.0,2.7,12.8,3.4
14096,2017-05-10,1494428400,93.47,101.3,E,11.0,7.0,48.0,2.6,13.4,3.5
14095,2017-05-10,1494432000,93.46,101.3,ENE,7.0,12.0,53.0,4.5,14.1,3.7
14099,2017-05-10,1494417600,93.47,101.3,ENE,7.0,9.0,61.0,3.2,10.3,3.1
14067,2017-05-11,1494532800,93.52,101.4,SSE,15.0,21.0,27.0,3.3,23.5,3.0
14058,2017-05-11,1494565200,93.16,100.9,ESE,11.0,29.0,42.0,4.7,17.9,3.0
14059,2017-05-11,1494561600,93.15,100.9,ESE,11.0,25.0,35.0,3.4,19.3,3.0
14060,2017-05-11,1494558000,93.16,100.9,ESE,11.0,24.0,32.0,3.0,20.5,3.0
14061,2017-05-11,1494554400,93.18,101.0,ESE,11.0,23.0,30.0,3.2,21.4,3.1
14062,2017-05-11,1494550800,93.23,101.0,ESE,12.0,22.0,27.0,2.8,22.5,3.2
...,...,...,...,...,...,...,...,...,...,...,...
2221,2018-09-17,1537178400,93.99,102.1,NNE,1.0,7.0,96.0,1.1,1.6,1.0
2222,2018-09-17,1537174800,93.99,102.1,NE,4.0,4.0,96.0,1.0,1.6,1.0
2223,2018-09-17,1537171200,94.01,102.1,NNE,4.0,6.0,96.0,1.2,1.7,1.0
2224,2018-09-17,1537167600,94.01,102.1,NE,4.0,7.0,97.0,1.2,1.7,1.1
2225,2018-09-17,1537164000,94.01,102.1,NE,6.0,10.0,97.0,1.2,1.7,1.2
2214,2018-09-17,1537203600,94.04,102.2,NNW,32.0,5.0,87.0,0.5,2.5,1.3
2187,2018-09-18,1537300800,94.13,102.2,NNW,31.0,13.0,46.0,0.1,11.3,1.4
2186,2018-09-18,1537304400,94.12,102.2,WNW,29.0,14.0,50.0,0.4,10.5,1.5
2185,2018-09-18,1537308000,94.12,102.2,W,29.0,18.0,47.0,-0.1,10.6,1.6
2184,2018-09-18,1537311600,94.11,102.2,WNW,30.0,18.0,46.0,-0.1,11.1,1.5
2179,2018-09-18,1537329600,94.29,102.4,WNW,30.0,4.0,81.0,1.9,4.9,1.6
2182,2018-09-18,1537318800,94.18,102.3,N,35.0,10.0,61.0,0.7,7.8,1.5
2181,2018-09-18,1537322400,94.21,102.3,N,35.0,5.0,70.0,1.2,6.3,1.5
2180,2018-09-18,1537326000,94.26,102.3,NNW,32.0,4.0,72.0,1.5,6.2,1.5
2188,2018-09-18,1537297200,94.15,102.2,WNW,29.0,14.0,56.0,1.2,9.6,1.3
2183,2018-09-18,1537315200,94.15,102.2,N,1.0,16.0,58.0,1.5,9.5,1.5
2189,2018-09-18,1537293600,94.17,102.2,WNW,29.0,14.0,64.0,3.1,9.7,1.3
2195,2018-09-18,1537272000,94.16,102.3,SW,21.0,4.0,95.0,0.6,1.3,1.2
2191,2018-09-18,1537286400,94.18,102.3,W,26.0,9.0,83.0,3.2,5.9,1.3
2192,2018-09-18,1537282800,94.19,102.3,WSW,25.0,7.0,90.0,2.5,4.1,1.3
2193,2018-09-18,1537279200,94.16,102.3,SSW,20.0,4.0,97.0,0.5,1.0,1.2
2194,2018-09-18,1537275600,94.15,102.3,SSW,23.0,3.0,96.0,0.6,1.2,1.2
2196,2018-09-18,1537268400,94.17,102.3,SW,23.0,7.0,95.0,0.9,1.6,1.3
2197,2018-09-18,1537264800,94.15,102.2,SW,22.0,7.0,95.0,1.6,2.4,1.3
2198,2018-09-18,1537261200,94.17,102.3,SSW,21.0,7.0,93.0,0.7,1.7,1.4
2199,2018-09-18,1537257600,94.19,102.3,SW,21.0,4.0,92.0,0.9,2.0,1.3
2200,2018-09-18,1537254000,94.19,102.3,WSW,25.0,3.0,88.0,1.0,2.8,1.3
2201,2018-09-18,1537250400,94.21,102.3,WSW,24.0,5.0,82.0,0.8,3.6,1.2
2190,2018-09-18,1537290000,94.19,102.3,W,27.0,13.0,75.0,3.1,7.2,1.3
2178,2018-09-18,1537333200,94.29,102.4,WNW,29.0,3.0,86.0,1.6,3.8,1.7

In [24]:
print(len(mos_count)) #number of days * 2 for genders
print(len(weather_data))

78
6552

In [27]:
number_of_days = len(weather_data)/(24*7)
number_of_days == len(mos_count) / 2

True